<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ asset('video.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="fullsize-video-bg">
        <div class="inner">
            <div>
                <h1>Bienvenue à Beshbarmaq Food</h1>
                <p>Prenez place dans un voyage inoubliable<br/>
                    <a href="{{ path('accueil') }}" class="button">Accéder au site</a>
                </div>
        </div>
        <div id="video-viewport">
            <video width="1920" height="1280" autoplay muted loop>
                <source src="{{ asset('The nature of Kazakhstan _ Natural wonders in 4K.mp4') }}" type="video/mp4" />
            </video>
        </div>
    </section>
</body>
<script src="{{ asset('script.js') }}"></script>
</html>
